<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= mytitle %></title>
    <link rel="stylesheet" href="style.css">
    <style>
        input, button{
            font-size: 33px;
        }
    </style>
</head>
<body>
    <h1>
        What is your name? 
    </h1>
    <form  action="/" method="post">
        <input name="userNaaaaame" type="text" >
        <br>
        <br>
        <button>Send to DB</button>
    </form>
    <h1>Your name is <%= arr[0].userNaaaaame %> </h1>
    <h1>Your name is <%= arr.at(-1).userNaaaaame %> </h1>
    

</body>
</html>